@import "./global";


.setting {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .serve {
    background: white;
    height: 12.55rem;
    margin-bottom: 15px;
    border-radius: $radius;
    text-align: center;
    overflow: hidden;

    @include media(tablet) {
        height: 7rem;
    }
    @include media(mobile) {
        height: 7.6rem;
    }
    &.graspary {
        background: linear-gradient(145deg, #009FC2, #2d3a46);
    .content {
        .head {
            color: whitesmoke;
            font-weight: 200;
            // color: ;
        }
    }
    }

    .content {
        width: 100%;
        height: 100%;
        @include flex(center, center, column);
        border-radius: $radius;

        @include media(mobile) {
            width: 100%;
        }
    .img {
        width: 7rem;
        height: 7rem;

        @include media(mobile,tablet) {
            width: 5rem;
            height: 5rem;
        }
    img {
        height: 100%;
        width: 100%;
    }

    }
    .head {
        font-size: 1.5rem;
        color: black;
        font-weight: 500;
        font-family: var(--second-font);

        @include media(tablet) {
            font-size: 1rem;
        }
        @include media(mobile) {
            font-size: 1.2rem;
            letter-spacing: 0px;
        }
    }
    }
}
}